/* Эффект подмигивания для иконки при наведении на карточку */
.glass-card:hover .suborg-icon img {
    animation: playful-blink 0.6s ease-in-out;
}

@keyframes playful-blink {
    0% { transform: scale(1); opacity: 1; }
    25% { transform: scale(0.9); opacity: 0.5; }
    50% { transform: scale(1.1); opacity: 1; }
    75% { transform: scale(0.95); opacity: 0.7; }
    100% { transform: scale(1); opacity: 1; }
}

.sub-badge{
	background: rgba(52,152,219,0.15);
	color: #2980b9!important;
	text-wrap: wrap;
    white-space: wrap !important;
	width: 100%;
}