   .branding.photo.port .item-box{
        height:320px;
    }
    .branding.photo.port .item-box img{
        height:274px;
    }
    .item-box{
        position:relative;
        overflow: hidden;
        display: block;
    }
    .item-box a{
        display: inline-block;
    }
    .item-box img{
        object-fit: cover;
        object-position: center top;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
    }
    .branding.photo:hover img{
        object-position: center bottom;
    }